.header {
    background-color: #F6F6F6;
    position: relative;
    margin-bottom: 30px;
    text-align: left;
}

.img-logo {
    width: 300px;
    height: auto;
    margin-left: 10px;
}

/*
   Effet mirror
 */
.btn-inscription-connexion {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #3A4F5B;
    border-radius: 30px;
    text-align: center;
    color: #3A4F5B;
    background-color: #F6F6F6;
    float: right;
    position: absolute;
    top: 30px;
    right:0;
    overflow: hidden;
    transition: .3s;
}

.btn-inscription-connexion:after {
     position: absolute;
     transition: .3s;
     content: '';
     width: 0;
     left: 50%;
     bottom: 0;
     height: 3px;
     background: #f7f7f7;
 }

.btn-inscription-connexion:hover {
    cursor: pointer;
    color: #F6F6F6;
    background-color: #3A4F5B;
}

.btn-inscription-connexion:hover:after {
         width: 100%;
         left: 0;
}