input {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
}

.search {
    text-align: center;
    width: 80%;
    height: 75px;
    font-size: 1.5rem;
    background-color: #F6F6F6;
    color: #3A4F5B;
    margin-bottom: 30px;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
    padding-right: 20px;
}