@import url(https://fonts.googleapis.com/css?family=Raleway:300);

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #3a4f5b;
    color: #F6F6F6;
    line-height: 1.5;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
}

figure {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

input {
    border: 0;
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Montserrat', sans-serif;
}

.app {
    width: 90%;
    margin: 0 auto;
}

.search {
    font-size: 1.5rem;
    margin: 1.5em auto 3em;
    max-width: 80%;
}

.search [type='search'] {
    background-color: #131b20;
    color: #F6F6F6;
    padding: 0.5em 2em;
    text-align: center;
    width: 100%;
}

.movie__title{
    color: #F6F6F6;
}

.movies {
    display: grid;
    grid-gap: 3em 2em;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.movie__figure {
    position: relative;
}

.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.75);
}

.container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.text {
    color: white;
    font-size: 0.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    height: 90%;
}

.date {
    margin-top: 135%;
    margin-left: 10px;
    text-align: left;
}

h2 {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}