.container-result {
    height: 400px;
    width: 225px;
    margin:10px auto;
    vertical-align:middle;
    display:inline-block;
    overflow: hidden;
    position: relative;
    text-align:left;
}

.container-back-result {
    text-align: left;
    color: #F6F6F6;
    boder: 1px solid white;
    height: 15%;
}

.poster {
    text-align: center;
    height: 85%;
}

.lien-poster:hover {
    cursor: pointer;
}

.poster:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
}

