.container-result-search {

}

.container-row {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    display: -webkit-flex; /* OK chrome 21 */
    display: flex;
    justify-content: space-between;

}

.container-row > Result {
    width: 225px;
    height: 400px;
    margin-left: 5px;
    margin-right: 5px;
}